Source: kypo2-trainings-hurdling-visualization
Maintainer: Martin Machac <machacm@ics.muni.cz>
Build-depends: debhelper (>= 8.0.0)
Section: misc
Standards-Version: 3.9.8

Package: kypo2-trainings-hurdling-visualization
Architecture: any
Depends: ${misc:Depends}
Priority: optional
Description: KYPO Trainings Hurdling Visualization component
 KYPO Trainings Hurdling Visualization
